.App {
  font-family: sans-serif;
  padding: 10px 36px;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: dodgerblue;
}

h1 {
  text-align: left;
}

.player-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.data {
  
  width: 45%;
  text-align: left;
  margin: 8px 0;
  padding: 20px 10px;
  cursor: pointer;
}

.itemcompleted {
  justify-content: center;
  background-color: lightblue;
  text-decoration: line-through;
  width: 45%;
  text-align: left;
  margin: 8px 0;
  padding: 20px 10px;
  cursor: pointer;
  color: gray;

}
form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
form > input {
  background-color: blanchedalmond;
  border: 0;
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;
  color:dodgerblue ;
  border-bottom: 2px solid dodgerblue;
  margin-right: 8px;
}

button {
  background-color: gray;
  border: 2px solid dodgerblue;
  color: white;
  font-size: 16px;
  
  
}

input::placeholder {
  color: gray;
  opacity: 1;
  
}

.clear-btn {
  margin-top: 16px;
}